.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
}

.textbox {
  margin-right: 10px;
}

/* body{
  background-color: #282c34;
  margin: 0;
  padding: 0;
} */

.sidebar {
  background-color: #f1f1f1;
  width: 200px;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  float: left;
}

/* Table styles */
.table-container {
  margin-left: 220px;
  /* To create space for the sidebar */
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(218, 214, 214);
}

td,
th {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Button styles */
.button-container {
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.button-container .sidebar-label {
  margin-right: 10px;
  color: whitesmoke;
}

.button-container .buttons-wrapper {
  display: flex;
  align-items: center;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

.buttons-wrapper button {
  margin-top: 10px;
}
.green-button {
  background-color: green;
  color: white;
}

.blue-button {
  background-color: skyblue;
  color: white;
}

.orange-button {
  background-color: orange;
  color: black;
}

.button-space {
  width: 120px;
  /* Adjust the space width as needed */
}
.delete-icon {
  cursor: pointer;
  color: red;
}

body {
  background-color: black;
}
.errorRedBorder{
  border-color: red;
}